h1 {
  font-family:"Kaushan Script", "Helvetica Neue", Helvetica, Arial, sans-serif, cursive;
  font-style:italic;
  font-size:36px;
  line-height:36px;
  color:#fec503; }
  
#foo {
  font-family:"Kaushan Script", "Helvetica Neue", Helvetica, Arial, sans-serif, cursive;
  font-style:italic;
  font-size:36px;
  line-height:36px;
  color:#fec503; }  